:root {
	--bg-primary: #f4f4f4;
	--bg-header-primary: #00539c;
	--bg-nav-Main: #004080;
}

html {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bg-primary);



}

#Wrap {
	height: 100vh;

	/* align-items: stretch; */
	padding: 0;

	/* flex: 1; */
}

header {
/* background-image: url('os.jpg');
background-repeat: no-repeat;
background-position: top center;
background-size: contain; */

	background-color: #00539c;
	justify-content: space-around;
	/* align-self: flex-start; */


	hgroup {


		text-align: center;
		color: white;
		padding: 2rem;

		h1 {

			font-size: 3rem;


		}

		h3 {

			font-size: 1.5rem;
		}
	}


}

nav#Main-nav {


	background-color: #004080;

	ul {

		display: flex;
		justify-content: flex-start;
		align-items: center;
		list-style-type: none;
		padding: .8rem;
		margin: 0 0 0 2rem;



	}

	li a {

		font-size: 1.8rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		font-weight: 700;
		margin-right: 1.4rem;
		text-decoration: none;
	}


}

input {

	margin-left: auto;
	margin-right: 1rem;
	border: none;
	border-radius: .6rem;

}

input::placeholder {

	text-align: center;
	font-style: italic;
}

button {
	margin-right: 2rem;
	background-color: #333333;
	color: white;
	padding: .6rem;
	border: none;
	border-radius: .8rem;
}

/* END OF HEADER */


/* MAIN STARTS HERE */
main {
	width: 1200px;
	margin: 2rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:flex-start;



}
.intro {
	padding: 3rem;
	margin-bottom: 2rem;
	background-color: white;
	border-bottom: .3rem solid #00539c;
width: 100%;
	/* flex: 1; */

	h1 {
		font-size: 2.5rem;

	}

	h2 {
		font-size: 2rem;
		border-bottom: .2rem solid black;
	}

	p {
		font-size: 1.9rem;
	}
}

.info-pult {
	margin: 2rem 0 0 3rem;
	padding: 5rem 2rem;
	background-color: #ffe082;
	flex: 2;
	align-self: flex-start;

	h2 {

		font-size: 2.5rem;
	}

	p {

		font-size: 1.8rem;
	}
}



article.two-columns {

	background-color: white;
	padding: 1.6rem;
margin-top: 2rem;
	.two-columns {
		/* Divides the text into 2 columns */
		column-count: 2;

		/* Optional: Adds space between the columns */
		column-gap: 40px;

		/* Optional: Adds a vertical line between columns */
		column-rule: 2px dashed #999edc;
		/* margin-top: 2rem; */
		p.interesting {
	padding: 1.4rem;
	background-color: #eeeeff;
	span{

		font-weight: 700;
	}
		}

	}

	flex: 8;
h2{

	font-size: 2.5rem;
}
	p {

		font-size: 2rem;
	}
}

.left {
	margin-right: 3rem;
	flex: 3;

	h2 {

		align-content: center;
		text-align: center;
	}


	ul {
		background-color: #f9f9f9;
		padding: 0;
		list-style-type: none;
	}

	li {

		border: 1px solid #ccc;
		font-size: 1.9rem;
		padding: 1.5rem;
		margin-bottom: 2rem;
	}

	h2 {

		font-size: 3rem;
	}
}

/* MAIN ENDS HERE */
footer {
	padding: 2rem;
	flex-shrink: 0;
	background-color: #333333;
	color: white;
	text-align: center;
	font-size: 2rem;
	align-self: flex-end;
}