
/*Selektor elementa*/
body{
    min-width: 320px;
    max-width: 1244px;
    background-color: antiquewhite;
    /* font-size: 68%; */
    margin: 0 auto;
    padding: 0;
}


 h1{
        color: black;
        text-align: center;
        font-family: sans-serif;
    }

h2{

    color: #b69870;
    font-size: 1.5rem;
    font-weight: bold;
}
/*selektor klase*/
.naslov{
    font-size: 3rem;
    color: #55557f;
}

div p{

    color: #4b7d;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
/*selector identifikacije #*/
#sadrzaj{
color: #93aba1;
font-family: sans-serif;
}

ul{

    list-style: none;
}

ul li::before{
    font-size: 3rem;
    content:'🤾🏻‍♂️';
}
/*drugi elemnt ul-a ima drugi emoji*/
ul li:nth-child(2)::before{
    font-size: 1.5rem;
    content: '⚽';
}
