body{

height: 100vh;
background-color: bisque;
}

/* Mobile First */
#Wrap{
  /* width: 90%; */
  /* min-height: 100vh; */
  margin: 0 auto;
  display:grid;
border:2px solid lime;
  height: 100vh;
  gap: .5rem;


  grid-template-areas: 

  "c"
  "d"
  "e"

  ;
  
}

.a, .b, .f{

  display: none;
}
.panel{
  text-align: center;
 align-items:center;
 border: .2rem solid red; 
    
    font-size: 1rem;
}
/* tablet */
@media(min-width:550px) and (max-width:800px){
body{

  background-color: white;
}
  

  #Wrap{

    gap: 1rem;
    margin: auto;
    display: grid;
    grid-template-areas:
    "b b"
    "c f"
    ;


  }

/* b c f */
.b, .c, .f{

  display:grid;
}
.a, .e, .d{

  display: none;
}
.panel{
  text-align: center;
align-items:center;
  border: .2rem solid red;
    
    font-size: 2rem;
}
/* desktop */


}

@media(min-width:801px){

.panel{
background-color: orange;
  display: grid;
}

  #Wrap{

    display: grid;
    gap: 2rem;

    grid-template-areas: 
    "a b b"
    "c d e"
    "f f f"
    ;
  }
  .panel{

        font-size: 5rem;

  }
}



  .a{grid-area: a;}
  .b{grid-area: b;}
  .c{grid-area: c;}
  .d{grid-area: d;}
  .e{grid-area: d;}
  .e{grid-area: e;}
  .f{grid-area: f;} 









