body{
  background-color: antiquewhite;

}

table, td, th{

  border: 1px solid blue;
}

table{

  width: 100vw;
}

th{

  background-color: #f0f1f0;
  font-weight: normal;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: .8rem;
}

tbody tr:hover{
  background-color: aqua;
}

tbody tr:first-child{

  text-align: right;
}

